page-skill {

    .btn-card
    {
        background: transparent;
    }

    .description
    {
        color: #939393;
    }

    .check-skill
    {
        background: #488aff !important;        
        .card-title
        {
            color: white;
        }

        p
        {
           color: white; 
        }
    }

    .btn-advanced-skills
    {
        padding: 10px 0px 0px 0px;
        .fab-md
        {
            background: #f53d3d;
        }
                
    }

    .card-title
    {
        max-width: 287px;
        white-space: normal;
        display: block;        
    }

    .skill-card
    {
        background: #E3E8F1;
    }
}
