<ion-content padding>
    <ion-slides #slides pager="true" style="height: 93%;" (ionSlideDidChange)="ionSlideDidChange(slides)">
      <ion-slide *ngFor="let race of races">
        <img class="race-img" src="assets/imgs/races/{{race.name}}.jpg">      
        <h1>{{ race.name }}</h1>        
        <ion-grid class="grid">
            <ion-row>
              <ion-col>For: {{ race.attributes.strength }}</ion-col>              
            </ion-row>
            <ion-row>
              <ion-col>Agi: {{ race.attributes.agility }}</ion-col>                  
            </ion-row>
            <ion-row>
              <ion-col>Int: {{ race.attributes.intelligence }}</ion-col>                  
            </ion-row>
            <ion-row>
              <ion-col>Von: {{ race.attributes.will }}</ion-col>
            </ion-row>
        </ion-grid>        
        <p class="skillOrBonus" [hidden]="!race.raceSkill">{{ (race.raceSkill) ? race.raceSkill.description : '' }}</p>
        <p class="skillOrBonus" *ngIf="race.bonus" [hidden]="!race.bonus">Bônus: {{ race.bonus }}</p>
      </ion-slide>
    </ion-slides>  
    <div style="text-align: center;">
      <button class="btnConfirm" ion-button (click)="chooseRace()">Confirmar Raça</button>
    </div>
</ion-content>
