page-races {

    h1 {
        text-align: center;
    }

    .race-img {
        width: 190px;
        height: 280px;
        position: relative;
        right: 50px;
        top: 68px;
    }

    .btnConfirm
    {
        position: relative;
        bottom: 0px;
        left: 2px;
        border-radius: 25px;
        height: 30px;
    }

    .grid {
        position: relative;
        right: 0px;
        bottom: 245px;
        width: 100px;
        margin-right: 0px;                
    }

    .row {
        border: 1px solid #d6d6d6;
        width: 100%;
        background: #f8f8f8;        
    }

    .skillOrBonus 
    {
        position: relative;
        bottom: 100px;
        text-align: center;
    }

    h1 {
        position: relative;
        top: 45px; 
    }
}
